<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="book">
      <h2 data-cy="bookDetailsHeading"><span jhiTranslate="raecipeApp.book.detail.title">Book</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ book.id }}</span>
        </dd>
        <dt><span jhiTranslate="raecipeApp.book.name">Name</span></dt>
        <dd>
          <span>{{ book.name }}</span>
        </dd>
        <dt><span jhiTranslate="raecipeApp.book.published">Published</span></dt>
        <dd>
          <span>{{ book.published }}</span>
        </dd>
        <dt><span jhiTranslate="raecipeApp.book.creator">Creator</span></dt>
        <dd>
          <span>{{ book.creator }}</span>
        </dd>
        <dt><span jhiTranslate="raecipeApp.book.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ book.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="raecipeApp.book.updateDate">Update Date</span></dt>
        <dd>
          <span>{{ book.updateDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="raecipeApp.book.recipe">Recipe</span></dt>
        <dd>
          <span *ngFor="let recipe of book.recipes; let last = last">
            <a [routerLink]="['/recipe', recipe.id, 'view']">{{ recipe.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
