<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipe">
            <h2><span jhiTranslate="raecipeApp.recipe.detail.title">Recipe</span> {{ recipe.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="raecipeApp.recipe.name">Name</span></dt>
                <dd>
                    <span>{{ recipe.name }}</span>
                </dd>
                <dt><span jhiTranslate="raecipeApp.recipe.starred">Starred</span></dt>
                <dd>
                    <span>{{ recipe.starred }}</span>
                </dd>
                <dt><span jhiTranslate="raecipeApp.recipe.tags">Tags</span></dt>
                <dd>
                    <span>{{ recipe.tags }}</span>
                </dd>
                <dt><span jhiTranslate="raecipeApp.recipe.ingredients">Ingredients</span></dt>
                <dd>
                    <span>{{ recipe.ingredients }}</span>
                </dd>
                <dt><span jhiTranslate="raecipeApp.recipe.steps">Steps</span></dt>
                <dd>
                    <span>{{ recipe.steps }}</span>
                </dd>
                <dt><span jhiTranslate="raecipeApp.recipe.comment">Comment</span></dt>
                <dd>
                    <span>{{ recipe.comment }}</span>
                </dd>
                <dt><span jhiTranslate="raecipeApp.recipe.duration">Duration</span></dt>
                <dd>
                    <span>{{ recipe.duration }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe', recipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
